# These tests cannot be ran with anything else (~75m)
# - CoreIDP ......... result in IDP restarts
# - Licensing API ... not really sure why TBH
# - SMTP ............ temporarily disables SMTP integration

# FVT5.1 coreidp (multiple suites)
- name: fvt-coreidp
  taskRef:
    kind: Task
    name: mas-fvt-coreidp
  when:
    # We need the digests
    - input: "$(params.fvt_digest_core)"
      operator: notin
      values: [""]
    - input: "$(params.fvt_digest_coreui)"
      operator: notin
      values: [""]
    # Support skip flags
    - input: "fvt-coreidp"
      operator: notin
      values: ["$(params.skip[*])"]
    - input: "fvt-core"
      operator: notin
      values: ["$(params.skip[*])"]
  workspaces:
    - name: configs
      workspace: shared-configs
  params:
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: product_channel
      value: $(params.mas_channel)
    - name: fvt_image_registry
      value: $(params.fvt_image_registry)
    - name: fvt_digest_core
      value: $(params.fvt_digest_core)
    - name: fvt_digest_coreui
      value: $(params.fvt_digest_coreui)
    - name: devops_test_type
      value: $(params.devops_test_type)
    - name: devops_test_phase
      value: $(params.devops_test_phase)
  runAfter:
    # Only start after all suites in phase 4 are complete
    - fvt-internalapi
    - fvt-catalogapi
    - fvt-ibmadminissuer
    - fvt-milestonesapi
    - fvt-adoptionusageapi
    - fvt-accapppoints

# FVT5.2 licensingapi ~20m
- name: fvt-licensingapi
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
    - name: test_suite
      value: licensingapi
  runAfter:
    - fvt-coreidp

# FVT5.3 smtp ~5m
- name: fvt-smtp
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
    - name: test_suite
      value: smtp
  runAfter:
    - fvt-licensingapi

# FVT5.4 core-scaling ~25m
- name: fvt-core-scaling
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
    - name: test_suite
      value: core-scaling
  runAfter:
    - fvt-smtp

# FVT 5.5 operatormaturity  ~5m
- name: fvt-operatormaturity
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: test_suite
      value: operatormaturity
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - fvt-core-scaling
